@tailwind base;
@tailwind components;

.background-image {
  background-image: url('/louvre.jpg');
  background-size: cover;
  background-position: center center;
  aspect-ratio: 16/9;
}

@tailwind utilities;
